html{
  background-color: transparent!important;
}
/*
============================
           MENÚ
============================
*/
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*NAV-BAR  SIN RADIO*/
.menu{
  border-radius: 0px;
}
.rightMenu{
  position: absolute !important;
  right: 0% !important;
  top: -2px;
  font-size: 20px;
}

body {
  padding: 0;
  background-image: url('/images/backalien.jpg');
  background-size: 20%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 100%;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
    
  }
}
/*NOTES*/
/*posision EDWARD'S NOTES*/
.titlePosition {
    position: absolute;
    left: 20px;  
}
.button:after {/* click efect*/
    content: "";
    background: #82589F;
    display: block;
    position: absolute;
    padding-top: 130%;
    padding-left: 200%;
    margin-left: -18px;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
    
}
.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.boxInputs{
  padding: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 5px 5px 5px lightgrey;
  background-color: white;
}

.writeHere{
  font-size: 20px;
  resize: none;
  border: solid transparent 0px;
  width: 100%; 
  height: 80px;
  padding-top: 20px;
  outline: none;
}
@media screen and (max-width:1000px){
  .boxInputs{
    width: 100%;
  }
}
  .divStyle{
    box-shadow: 0px 5px 5px 5px lightgrey;
    background-color: white;
  }
  /*-------------
       DATE
---------------*/ 
  .dateTitle{
    color: #82589F;
  }


/*-------------
  SAVE BUTTON 
---------------*/  
.btnSave{
  background-color:#82589F;
  color: rgb(196, 196, 196);
  position: relative;
  height: 40px;
  font-size: 18px;
  border: 2px solid #82589F!important;
}

.btnSave:hover{
  background-color: transparent;
  border: 2px solid #82589F!important;
  color: rgb(141, 141, 141);
}

/*
================================
             NOTE
================================
*/
.NoteStyle{
  display: block; 
  overflow-x: hidden;
  text-align: justify;
  text-justify: inter-word;
  height: 260px;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 30px;
  border-radius: 0px !important;
  box-shadow: 2px 2px 2px 2px rgba(211, 211, 211, 0.5);
   word-wrap: break-word;
   border: 0px;
}
.panel-heading{
  height: 49px;
  opacity: 0.9;
  color: rgb(196, 196, 196)!important;
  border: none;
  border-radius: 0px !important;
  outline: none;
}
.panel-heading:hover{
  opacity: 0.8;
}
.panel-footer{
  background-color: transparent;
  border: none;
  height: 50px;
  outline: none;
}
.panel-body{
  height: 155px;
  outline: none;
}

pre{
  height: 155px;
  border: none;
  background-color: transparent;
  white-space: pre-wrap;
  overflow: hidden;
}
.ajustTextToPre{
  margin-top:-20px!important;
}
.notePulseEfect:hover{
  animation-name: pulse;
}

.colorDate{
  color: #474747;
}

.containerTagColors{
  height: 60px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 1px 15px 4px rgba(211, 211, 211, 0.5);
  background-color: rgba(56, 56, 56, 0.021);
  margin-top: -60px;
  color:rgba(48, 48, 48, 0.788);
}

/* 
MODAL
*/

.modal-dialog {
  width: 70%;
  height: 80%;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}

.myModalFooter{
  position: absolute;
  
  bottom: 0px;
  width: 100%;
  background-color:rgb(230, 230, 230);
  border-top: 1px solid rgb(230, 230, 230);
  z-index: 100;
}

.modal-body{
  position: absolute;
  top: 70px;
  bottom: 60px;
  width: 100%;
  font-weight: 300;
  overflow: auto;
}

.textAreaModificarNota{
  outline: none;
  border: none;
  background-color: rgba(204, 204, 204, 0.349);
  padding: 10px;
  resize: none;
}