<div class=" row containerTagColors text-center" ng-show="vm.showContainerTagColors && vm.containerColorIndex == $index">
    <div class="col-xs-4" ng-click="vm.changeNoteColor($index,'#82589F')" style="background-color:#82589F;height:100%;padding-top:20px;cursor:pointer;">Normal</div>
    <div class="col-xs-4" ng-click="vm.changeNoteColor($index,'#ffda79')" style="background-color:#ffda79;height:100%;padding-top:20px;cursor:pointer;">Importante</div>
    <div class="col-xs-4" ng-click="vm.changeNoteColor($index,'#ff5e57')" style="background-color:#ff5e57;height:100%;padding-top:20px;cursor:pointer;">Urgente</div>
</div>