<div class="container">
  <div class=" boxInputs animated tada">
    <form>
      <input class="writeHere" style="border-bottom:2px solid lightgrey;" type="text" placeholder="Titulo ..." ng-model="vm.note.title" ng-change="vm.note.title = vm.note.title.toUpperCase();">
      <textarea ng-submit="vm.addNote()" class="writeHere" cols="80" rows="5" placeholder="Nota ..." ng-model="vm.note.note"></textarea>
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <h4 class="pull-left dateTitle">Fecha de Entrega:</h4>
          <md-input-container class="pull-right" style="margin-top:0px">
            <md-datepicker  ng-model="vm.note.entregaDate"></md-datepicker>
          </md-input-container>
         
        </div>
        <div class="col-md-6 col-xs-12">
          <button  class="btn btn-block  btnSave" ng-click="vm.addNote();">Guardar Nota</button>            
        </div>
      </div>
    </form>
  </div>
  <br>
  <br>
  <!--NOTE-->
  <div class="row">
    <div  class="col-md-4 col-xs-12 animated fadeInRight" ng-repeat="note in vm.notes track by $index">
      <div class="panel panel-default NoteStyle" ng-mouseover="vm.showOptions($index)" ng-mouseleave="vm.optionsNote=-1;vm.showContainerTagColors=false;" ng-click="vm.noteToModal(note)">
        <div class="panel-heading" style="background-color:{{note.color}}" data-toggle="modal" data-target="#exampleModal" ng-click="vm.getCurrentIndex($index)">
          <div class="row">
            <div class="col-xs-10">
              <strong>{{note.title|limitTo:50}}{{note.title.length >= 50 ? ' ...':''}}</strong>          
            </div>
            <div class="col-xs-2">
              <span class="pull-right">{{note.entregaDate|date:'dd/MM/yy'}}</span>
            </div>
          </div>
        </div>
        <div class="panel-body" data-toggle="modal" data-target="#exampleModal" ng-click="vm.getCurrentIndex($index)">
          <pre>
            <h5 class="ajustTextToPre">{{note.note|limitTo:200}}{{note.note.length >= 200 ? ' ...':''}}</h5>
          </pre>
        </div>
       
        <!-- 
          ================
          Colors Container
          ================
         -->
        <div ng-include="'views/colorsContainer.html'"></div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-xs-6">
              <h6 class="colorDate">Creado el : {{note.createdDate|date:'dd/MM/yy'}}              
            </div>
            <div class="col-xs-6" ng-show="vm.optionsNote == $index" style="padding-top:5px">
              <div class="row">
                <div class="col-xs-4">
                  <i class="icon-printer pull-right" style="cursor:pointer;outline: none;" ng-click="vm.print(note);"></i>                                     
                </div>
                <div class="col-xs-4">
                  <i class="icon-tag pull-right" style="cursor:pointer;outline: none;" ng-click="vm.showContainerColors($index)"></i>                                           
                </div>
                <div class="col-xs-4">
                  <i class="icon-trash pull-right" style="cursor:pointer;outline: none;" ng-click="vm.deleteNote($index)"></i>                          
                </div>
              </div>
            </div>
          </div>
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>
 <!-- 
================
MODAL
================
-->
<div ng-include="'views/modificarNota.html'"></div>

<div ng-include="'views/reportes/reporteNota.html'" id="imprimir" style="display:none"></div>